# Ignore binary files
*.o
*.out
*.exe

# Ignore build directories
/build/
/bin/
/obj/

# Ignore Docker-related files
docker-compose.yml
Dockerfile

# Ignore system files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.idea/
.vscode/
*.iml

# Ignore log files
*.log

# Ignore compiled shared objects
*.so